In [1]:
import essai

In [2]:
exec = essai.Model()

In [3]:
exec._creation_variable_decision()

In [4]:
exec._fonction_objectif()

In [6]:
exec._creation_contrainte()

In [5]:
exec.model

planning_usine:
MAXIMIZE
-0.5*stock_Avril_PROD1 + -0.5*stock_Avril_PROD2 + -0.5*stock_Avril_PROD3 + -0.5*stock_Avril_PROD4 + -0.5*stock_Avril_PROD5 + -0.5*stock_Avril_PROD6 + -0.5*stock_Avril_PROD7 + -0.5*stock_Février_PROD1 + -0.5*stock_Février_PROD2 + -0.5*stock_Février_PROD3 + -0.5*stock_Février_PROD4 + -0.5*stock_Février_PROD5 + -0.5*stock_Février_PROD6 + -0.5*stock_Février_PROD7 + -0.5*stock_Janvier_PROD1 + -0.5*stock_Janvier_PROD2 + -0.5*stock_Janvier_PROD3 + -0.5*stock_Janvier_PROD4 + -0.5*stock_Janvier_PROD5 + -0.5*stock_Janvier_PROD6 + -0.5*stock_Janvier_PROD7 + -0.5*stock_Juin_PROD1 + -0.5*stock_Juin_PROD2 + -0.5*stock_Juin_PROD3 + -0.5*stock_Juin_PROD4 + -0.5*stock_Juin_PROD5 + -0.5*stock_Juin_PROD6 + -0.5*stock_Juin_PROD7 + -0.5*stock_Mai_PROD1 + -0.5*stock_Mai_PROD2 + -0.5*stock_Mai_PROD3 + -0.5*stock_Mai_PROD4 + -0.5*stock_Mai_PROD5 + -0.5*stock_Mai_PROD6 + -0.5*stock_Mai_PROD7 + -0.5*stock_Mars_PROD1 + -0.5*stock_Mars_PROD2 + -0.5*stock_Mars_PROD3 + -0.5*stock_Mars_PROD4 + -0.5*stock_Mars_PROD5 + -0.5*stock_Mars_PROD6 + -0.5*stock_Mars_PROD7 + 10*vendu_Avril_PROD1 + 6*vendu_Avril_PROD2 + 8*vendu_Avril_PROD3 + 4*vendu_Avril_PROD4 + 11*vendu_Avril_PROD5 + 9*vendu_Avril_PROD6 + 3*vendu_Avril_PROD7 + 10*vendu_Février_PROD1 + 6*vendu_Février_PROD2 + 8*vendu_Février_PROD3 + 4*vendu_Février_PROD4 + 11*vendu_Février_PROD5 + 9*vendu_Février_PROD6 + 3*vendu_Février_PROD7 + 10*vendu_Janvier_PROD1 + 6*vendu_Janvier_PROD2 + 8*vendu_Janvier_PROD3 + 4*vendu_Janvier_PROD4 + 11*vendu_Janvier_PROD5 + 9*vendu_Janvier_PROD6 + 3*vendu_Janvier_PROD7 + 10*vendu_Juin_PROD1 + 6*vendu_Juin_PROD2 + 8*vendu_Juin_PROD3 + 4*vendu_Juin_PROD4 + 11*vendu_Juin_PROD5 + 9*vendu_Juin_PROD6 + 3*vendu_Juin_PROD7 + 10*vendu_Mai_PROD1 + 6*vendu_Mai_PROD2 + 8*vendu_Mai_PROD3 + 4*vendu_Mai_PROD4 + 11*vendu_Mai_PROD5 + 9*vendu_Mai_PROD6 + 3*vendu_Mai_PROD7 + 10*vendu_Mars_PROD1 + 6*vendu_Mars_PROD2 + 8*vendu_Mars_PROD3 + 4*vendu_Mars_PROD4 + 11*vendu_Mars_PROD5 + 9*vendu_Mars_PROD6 + 3*vendu_Mars_PROD7 + 0.0
VARIABLES
0 <= stock_Avril_PROD1 <= 100 Integer
0 <= stock_Avril_PROD2 <= 100 Integer
0 <= stock_Avril_PROD3 <= 100 Integer
0 <= stock_Avril_PROD4 <= 100 Integer
0 <= stock_Avril_PROD5 <= 100 Integer
0 <= stock_Avril_PROD6 <= 100 Integer
0 <= stock_Avril_PROD7 <= 100 Integer
0 <= stock_Février_PROD1 <= 100 Integer
0 <= stock_Février_PROD2 <= 100 Integer
0 <= stock_Février_PROD3 <= 100 Integer
0 <= stock_Février_PROD4 <= 100 Integer
0 <= stock_Février_PROD5 <= 100 Integer
0 <= stock_Février_PROD6 <= 100 Integer
0 <= stock_Février_PROD7 <= 100 Integer
0 <= stock_Janvier_PROD1 <= 100 Integer
0 <= stock_Janvier_PROD2 <= 100 Integer
0 <= stock_Janvier_PROD3 <= 100 Integer
0 <= stock_Janvier_PROD4 <= 100 Integer
0 <= stock_Janvier_PROD5 <= 100 Integer
0 <= stock_Janvier_PROD6 <= 100 Integer
0 <= stock_Janvier_PROD7 <= 100 Integer
0 <= stock_Juin_PROD1 <= 100 Integer
0 <= stock_Juin_PROD2 <= 100 Integer
0 <= stock_Juin_PROD3 <= 100 Integer
0 <= stock_Juin_PROD4 <= 100 Integer
0 <= stock_Juin_PROD5 <= 100 Integer
0 <= stock_Juin_PROD6 <= 100 Integer
0 <= stock_Juin_PROD7 <= 100 Integer
0 <= stock_Mai_PROD1 <= 100 Integer
0 <= stock_Mai_PROD2 <= 100 Integer
0 <= stock_Mai_PROD3 <= 100 Integer
0 <= stock_Mai_PROD4 <= 100 Integer
0 <= stock_Mai_PROD5 <= 100 Integer
0 <= stock_Mai_PROD6 <= 100 Integer
0 <= stock_Mai_PROD7 <= 100 Integer
0 <= stock_Mars_PROD1 <= 100 Integer
0 <= stock_Mars_PROD2 <= 100 Integer
0 <= stock_Mars_PROD3 <= 100 Integer
0 <= stock_Mars_PROD4 <= 100 Integer
0 <= stock_Mars_PROD5 <= 100 Integer
0 <= stock_Mars_PROD6 <= 100 Integer
0 <= stock_Mars_PROD7 <= 100 Integer
0 <= vendu_Avril_PROD1 Integer
0 <= vendu_Avril_PROD2 Integer
0 <= vendu_Avril_PROD3 Integer
0 <= vendu_Avril_PROD4 Integer
0 <= vendu_Avril_PROD5 Integer
0 <= vendu_Avril_PROD6 Integer
0 <= vendu_Avril_PROD7 Integer
0 <= vendu_Février_PROD1 Integer
0 <= vendu_Février_PROD2 Integer
0 <= vendu_Février_PROD3 Integer
0 <= vendu_Février_PROD4 Integer
0 <= vendu_Février_PROD5 Integer
0 <= vendu_Février_PROD6 Integer
0 <= vendu_Février_PROD7 Integer
0 <= vendu_Janvier_PROD1 Integer
0 <= vendu_Janvier_PROD2 Integer
0 <= vendu_Janvier_PROD3 Integer
0 <= vendu_Janvier_PROD4 Integer
0 <= vendu_Janvier_PROD5 Integer
0 <= vendu_Janvier_PROD6 Integer
0 <= vendu_Janvier_PROD7 Integer
0 <= vendu_Juin_PROD1 Integer
0 <= vendu_Juin_PROD2 Integer
0 <= vendu_Juin_PROD3 Integer
0 <= vendu_Juin_PROD4 Integer
0 <= vendu_Juin_PROD5 Integer
0 <= vendu_Juin_PROD6 Integer
0 <= vendu_Juin_PROD7 Integer
0 <= vendu_Mai_PROD1 Integer
0 <= vendu_Mai_PROD2 Integer
0 <= vendu_Mai_PROD3 Integer
0 <= vendu_Mai_PROD4 Integer
0 <= vendu_Mai_PROD5 Integer
0 <= vendu_Mai_PROD6 Integer
0 <= vendu_Mai_PROD7 Integer
0 <= vendu_Mars_PROD1 Integer
0 <= vendu_Mars_PROD2 Integer
0 <= vendu_Mars_PROD3 Integer
0 <= vendu_Mars_PROD4 Integer
0 <= vendu_Mars_PROD5 Integer
0 <= vendu_Mars_PROD6 Integer
0 <= vendu_Mars_PROD7 Integer

In [7]:
exec.affichage()

Le profit total est de 81751.5

         PROD1  PROD2  PROD3  PROD4  PROD5  PROD6  PROD7
Janvier  500.0  888.0  383.0  300.0  800.0  200.0    0.0
Février  700.0  600.0  117.0    0.0  500.0  300.0  250.0
Mars       0.0    0.0    0.0    0.0    0.0  400.0    0.0
Avril    200.0  300.0  500.0  500.0  300.0    0.0  100.0
Mai        0.0  100.0    0.0  100.0    0.0  300.0    0.0
Juin     550.0  550.0  150.0  350.0  160.0  550.0  110.0

         PROD1  PROD2  PROD3  PROD4  PROD5  PROD6  PROD7
Janvier  500.0  888.0  300.0  300.0  800.0  200.0    0.0
Février  600.0  500.0  200.0    0.0  400.0  300.0  150.0
Mars     100.0  100.0    0.0    0.0  100.0  400.0  100.0
Avril    200.0  300.0  400.0  500.0  200.0    0.0  100.0
Mai        0.0  100.0  100.0  100.0  100.0  300.0    0.0
Juin     500.0  500.0  100.0  300.0  110.0  500.0   60.0

         PROD1  PROD2  PROD3  PROD4  PROD5  PROD6  PROD7
Janvier    0.0    0.0   83.0    0.0    0.0    0.0    0.0
Février  100.0  100.0    0.0    0.0  100.0    0.0  100.0
Mars       0.0    0.0    0.0    0.0    0.0    0.0    0.0
Avril      0.0    0.0  100.0    0.0  100.0    0.0    0.0
Mai        0.0    0.0    0.0    0.0    0.0    0.0    0.0
Juin      50.0   50.0   50.0   50.0   50.0   50.0   50.0